html {
    box-sizing: border-box;
	font-size:62.5%; /* 1rem a 10px*/
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size:1.6rem;
}
/* Globales */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
}
h3{
	font-size:3rem;
}
a{
	text-decoration: none;
	color: #000000;
}
.contenedor{
	max-width: 120rem;
	margin: 0 auto;
	/* margin-inline: auto; */
}
img{
	max-width: 100%;
	display: block;

}
/* Header y Navegación */
.nombre-sitio{
	margin-top:5rem;
	margin-bottom: 5rem;
	text-align: center;
	font-size: 4rem;
}
.nombre-sitio span{
	color: #037bc0;
}
.contenedor-navegacion{
	border:.1rem solid #e1e1e1;
}
.nav-principal{
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
}
.hero{
	background-image: url(../img/principal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:55rem;
}
/* Categorias */
.categorias h2{
	text-align: center;
}
.categoria a{
	display: block;
	text-align: center;
	padding:2rem;
	font-size: 2rem;
}
.categoria a:hover{
	background-color: #037bc0;
	color: #fff;
	border-radius: 0 0  1rem 1rem;
}
.listado-categorias{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:2rem;
}